$fonts: (
    'main': 'Inter', 
    'secondary': 'sans-serif',
);
$font-styles: (
    'normal': normal,
    'bold': bold
);
$font-weights: (
    'normal': 400,
    'semi-bold': 600,
    'bold': 700
);
$color-marca: #2C114F;
$color-seccion--oscuro: #0B0D17;
$color-fuente-oscuro: #18191F;
$navbar-height: 72px;