.features{
    @include section($color-marca, #fff, 5rem 0);

    .features__card__img{
        margin-bottom: 3.5rem;
    }
    .features__card__title{
        font-weight: 800;
        font-size: 1.5rem;
        line-height: 2rem;
        color: $color-fuente-oscuro;
        margin-bottom: 0.75rem;
    }
    
    .features__card__description{
        @extend .section-paragraph;
        line-height: 1.625rem;
        color: $color-fuente-oscuro;
        margin-bottom: 2.5rem;
    }
    
    .features__card__link{
        font-weight: 500;
        font-size: 1rem;
        line-height: 1rem;
        color: #8C30F5;
        text-decoration: none;
    }

    .btn-features{
        width: 155px;
        height: 48px;
        padding: 12px 20px;
        margin-top: 3rem;
    }
}