.footer{
    @extend .main-font;
    color: #fff;
    background-color: $color-seccion--oscuro;
    padding: 4rem 0;

    .footer__title{
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .footer__link{
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: #D9DBE1;
        text-decoration: none;
        display: block;
        margin-bottom: 0.75rem;
    }
    
    .footer__marca__copyright{
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: #D9DBE1;    
    }
}