.testimonials{
    @include section(#F4F5F7, #000, 5rem 0);
    .card-body{
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
        transition: box-shadow 0.3s ease-in-out;
        &:hover{
            box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
        }
    }

    .testimonials__title{
        @extend .section-title;
        margin-bottom: 0.5rem;
    }
    
    .testimonials__subtitle{
        @extend .section-subtitle;
        line-height: 2rem;
        margin-bottom: 2.5rem;
    }
}